<footer>
    <div class="footer-container">
        <div class="footer-container-top">
            <h2 (click)="scrollTo('startscreenSection')">[SR]</h2>
            <div class="icon-container">
            <a target="_blank" href="#"><img src="assets/img/linkedin-btn.png" alt=""></a>
            <a target="_blank" href="https://github.com/MeffoX"><img src="assets/img/github-btn.png" alt=""></a>
            <a target="_blank" href="mailto:kontakt@stefanroth.dev"><img src="assets/img/email-btn.png" alt=""></a>
            </div>
        </div>
        <div class="footer-container-bottom">
            <p>Stefan Roth</p>
            <a routerLink="#" style="color:white" class="legal">Legal notice</a>
        </div>
    </div>
</footer>
