<div class="about">
    <div class="about-me">
        <div class="textarea">
            <h2>About me</h2>

            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure natus molestiae esse assumenda tenetur voluptas vel eius,
                ratione illum quam nihil, repudiandae deserunt voluptates. Laborum aut fugiat quam recusandae sapiente.
                Lorem ipsum dolorokok sit amet consectetur adipisicing elit. Assumenda adipisci in suscipit officia enim harum nobis inventore, 
                repudiandae, dolorem maiores voluptas labore nam sit beatae? Eum dicta eaque corporis numquam.</span>

            <div class="btn-container">
                <button (click)="scrollTo('contactSection')">Let's talk</button>
            </div>
        </div>

        <div class="image">
            <img src="assets/img/IMG_5357[1677].jpg" alt="StefanRoth">
        </div>
    </div>
    <div class="arrow">
        <img class="arrow-left" src="assets/img/arrow_left.png" alt="Go Down">
    </div>
</div>