<div class="about">
    <div class="about-me">
        <div class="textarea">
            <h2>About me</h2>

            <span>I am a German-speaking web developer from Chemnitz and have experience in building web applications with JavaScript & Angular.<br>
                Due to my skills and various project experiences. I realize extensive projects.<br>
                Feel free to take a look at my projects, which include responsive websites and business apps.<br>
                I am ready to take the next step in my career and find a position as a Junior Web Developer which allows me to collaborate with a team and improve my programming skills.</span>

            <div class="btn-container">
                <button (click)="scrollTo('contactSection')">Let's talk</button>
            </div>
        </div>

        <div class="image">
            <img src="assets/img/IMG_5357[1677].jpg" alt="StefanRoth">
        </div>
    </div>
    <div class="arrow">
        <img class="arrow-left" src="assets/img/arrow_left.png" alt="Go Down">
    </div>
</div>