nav {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 0 64px;
    width: calc(100vw - 128px);
    background-color: #FFFCF3;

    p {
        font-size: 26px;
        font-weight: 800;
        cursor: pointer;
    }

    img {
        width: 40px;
        height: 32px;
        cursor: pointer;
    }
}

.open-menu {
    position: fixed;
    height: calc(100vh - 92px);
    width: 100vw;
    top: 92px;
}

.ul-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft 500ms ease-in-out;
  
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    li {
      font-size: 80px;
      font-weight: 700;
      padding: 45px;
      position: relative;
      text-align: center;
      width: 480px;
      display: inline-block;

      @media(max-width: 790px) {
        font-size: 45px;
        width: 250px;
      }

      @media(max-height: 790px) {
        padding: 30px;
      }
    }

    a {
        cursor: pointer;
        color: #000;
        text-decoration: none;

        &::before {
            content: "";
            position: absolute;
            border-left: 4px solid black;
            border-bottom: 4px solid black;
            width: 30px;
            height: 40px;
            left: 5%;
            top: 70%;
            transform: translateY(-50%);
            transition: none;
            z-index: -1;
          }
      
          &:hover::before {
            content: "";
            transition: all 225ms ease-in-out;
            position: absolute;
            border-bottom: 4px solid #00BC8F;
            border-left: 0;
            width: 240px;
            height: 40px;
            left: 50%;
            top: 70%;
            transform: translateY(-50%);
            z-index: -1;

            @media(max-width: 790px) {
              width: 130px;
              height: 40px;
          }
          }
      
          &:active::before {
            content: "";
            position: absolute;
            border: 4px solid black;
            width: 480px;
            height: 100px;
            left: 5%;
            transform: translateY(-78%);
            transition: none;
            z-index: -1;
          }
      }
}

.menu-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: #000;
    height: 30%;
    clip-path: polygon(0% 0%, 100% 60%, 100% 100%, 0% 100%);
    animation: slideFromBottom 700ms ease-in-out;

    @media(max-width:520px) {
      //clip-path: polygon(0% 0%, 100% 40%, 100% 100%, 0% 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.menu-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80%;

    h2 {
        display: inline-block;
        transition: 225ms ease-in-out;
        color: #f8f8ee;
        font-size: 56px;
        font-weight: 900;
        margin: 0;
        padding-left: 64px;
      
        &:hover {
          color: #00BC8F;
        }

        @media(max-width: 790px) {
          font-size: 45px;
        }

        @media(max-width:520px) {
          white-space: nowrap;
          padding: 0 !important;
        }
      }

      .copy-email {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 64px;

      .email-container {
        display: flex;
        align-items: center;
        color: white;     

        img {
          padding-left: 30px;
          cursor: pointer;
        }
      }

      .copied-container {
        display: flex;
        align-items: flex-start;

        p {
          color: white;
          margin: 0;
        }
      }

      img {
        width: 30px;

        &:hover~.email {
          background-color: #00BC8F !important;
        }
      }

      @media(max-width:520px) {
        display: none;
      }
    }

    @media(max-width:520px) {
      justify-content: flex-end;
    }
}

.menu-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    padding-right: 64px;

    img {
      transition: all 225ms ease-in-out;
      width: 40px;
      //padding-left: 30px;

      &:hover {
        transform: translateY(-20px);
      }
    }

    @media(max-width:520px) {
      padding: 0 !important;
      gap: 45px;
    }
  }


    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
        }
      
        100% {
          transform: translateX(0);
        }
      }

      @keyframes slideFromBottom {

        0% {
          transform: translateY(100%);
        }
      
        100% {
          transform: translateY(0);
        }
      }