nav {
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 0 64px;
    width: calc(100vw - 128px);

    p {
        font-size: 26px;
        font-weight: 800;
        cursor: pointer;
    }

    img {
        width: 40px;
        height: 32px;
        cursor: pointer;
    }
}

.open-menu {
    position: fixed;
    width: 100vw;
    top: 92px;
}

.ul-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft 500ms ease-in-out;
  
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    li {
      font-size: 80px;
      font-weight: 700;
      padding: 45px;
      position: relative;
      text-align: center;
      width: 480px;
      display: inline-block;
    }

    a {
        cursor: pointer;
        color: #000;
        text-decoration: none;

        &::before {
            content: "";
            position: absolute;
            border-left: 4px solid black;
            border-bottom: 4px solid black;
            width: 30px;
            height: 40px;
            left: 5%;
            /* Adjust this value as needed to position the ::before element on hover */
            top: 70%;
            /* Set a fixed vertical position for ::before element, here it's centered */
            transform: translateY(-50%);
            /* Center ::before element vertically */
            transition: none;
            z-index: -1;
          }
      
          &:hover::before {
            content: "";
            transition: all 225ms ease-in-out;
            position: absolute;
            border-bottom: 4px solid #00BC8F;
            border-left: 0;
            width: 240px;
            height: 40px;
            left: 50%;
            /* Adjust this value as needed to position the ::before element on hover */
            top: 70%;
            /* Set a fixed vertical position for ::before element on hover, here it's centered */
            transform: translateY(-50%);
            /* Center ::before element vertically on hover */
            z-index: -1;
          }
      
          &:active::before {
            content: "";
            position: absolute;
            border: 4px solid black;
            width: 480px;
            height: 100px;
            left: 5%;
            transform: translateY(-78%);
            transition: none;
            z-index: -1;
          }
      }
}

    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
        }
      
        100% {
          transform: translateX(0);
        }
      }