.bottom-section {
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
    background-color: #000;
    width: calc(100vw - 128px);
    padding: 0 64px;
    height: 1082px;
    margin-top: 150px;
  
    @media (max-width: 480px) {
      height: auto;
    }
  
    h2 {
      color: #fffcf3;
      font-size: 78px;
      padding-top: 200px;
      padding-left: 100px;

      &:hover {
        cursor: default;
        color: #00BC8F;
      }
  
      @media (max-width: 480px) {
        font-size: 45px;
        padding: 53px 29px 0px;
      }
    }
  
    .writing {
      display: flex;
      align-items: center;
      flex-direction: column;
  
      h3 {
        color: #00bc8f;
        font-size: 32px;
        font-family: "Overpass", sans-serif;
      }
  
      span {
        color: #fffcf3;
        font-size: 23px;
        font-family: "Overpass-Black", sans-serif;
      }
    }
  
    .contact-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  
      @media (max-width: 480px) {
        padding: 0px 25px;
        display: block;
      }
    }
  
    .input-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 25px;
      padding-top: 50px;
  
      @media (max-width: 480px) {
        width: 100%;
      }
  
      .icon-container {
        position: absolute;
        right: 10px;
        top: calc(50% - 11px);
      }
    }
  
    .input-field {
      max-width: 500px;
  
      label {
        color: white;
        font-family: "Overpass-Black", sans-serif;
        font-size: 14px;
        position: relative;
        bottom: 30px;
        left: 10px;
        background-color: black;
        transition: 0.2s all;
        cursor: text;
      }
  
      input {
        color: #fffcf3;
        font-family: "Overpass", sans-serif;
        width: calc(100vw - 128px);
        height: 20px;
        background-color: black;
        border: none;
        padding: 8px;
  
        margin: 2px;
        border-bottom: 2px solid var(--cream, #fffcf3);
  
        transition: 0.2s all;
  
        @media (max-width: 480px) {
          width: 94%;
        }
  
        &:focus {
          outline: 0;
          border: 2px solid var(--cream, #fffcf3);
        }
  
        &:hover {
          border: 2px solid var(--cream, #fffcf3);
        }
      }
  
      input:focus~label,
      input:valid~label {
        bottom: 52px;
      }
    }
  }
  
  .textarea-field {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    position: relative;
  
    label {
      color: white;
      font-family: "Overpass-Black", sans-serif;
      font-size: 14px;
      position: absolute;
      top: 40px;
      left: 10px;
      background-color: black;
      transition: 0.2s all;
      cursor: text;
    }
  
    textarea {
      width: calc(100vw - 128px);
      height: 172px;
      padding-top: 15px;
      padding-left: 20px;
      background-color: black;
      border: none;
      color: #fffcf3;
      border-bottom: 2px solid var(--cream, #fffcf3);
      font-family: "Overpass", sans-serif;
  
      @media (max-width: 480px) {
        width: 100%;
      }
  
      &:hover {
        border: 2px solid var(--cream, #fffcf3);
      }
  
      &:focus {
        outline: none;
        border: 2px solid var(--cream, #fffcf3);
      }
    }
  
    textarea:focus~label,
    textarea:valid~label {
      top: 20px;
    }
  
    .icon-container {
      position: absolute;
      right: 10px;
      top: calc(100% - 22px);
    }
  }
  
  .contact-btn {
    display: flex;
    justify-content: center;
    padding: 50px;
  
    button {
      padding: 0.8em 1.7em;
      background-color: black;
      color: #fffcf3;
      border: 4px solid var(--cream, #fffcf3);
      width: 270px;
      height: 70px;
      font-family: "Overpass-Thin", sans-serif;
      font-weight: bold;
      font-size: 23px;
      transition: .5s;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      z-index: 1;
  
      span {
        position: relative;
        z-index: 3;

        @media (max-width: 590px) {
          font-size: 16px;
        }
      }
  
      &:hover {
        cursor: pointer;
        transform: scaleX(1.1);
      }
  
      &:active, &.active {
        filter: brightness(1);
        
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #00bc8f;
          z-index: -1;
          opacity: 1;
        }
      }
    }

    @media (max-width: 590px) {
      width: 200px;
    }
  }
  
  
  
  .message-box {
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    color: #00bc8f;
    text-align: center;
  
    animation: fadeInUp 1.2s;
  
    @keyframes fadeInUp {
      from {
        opacity: 0;
      }
  
      to {
        opacity: 1;
      }
    }
  }

  .input-section, .textarea-field, input {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;

  }
  
  input, textarea {
    width: 100%;
  }
  