<div class="bottom-section">
    <h2>Say Hi!</h2>
    <form (submit)="sendMail()" class="contact-section" ngNativeValidate #myForm>
        <div class="writing">
            <h3>
                Want to discuss a new project?
            </h3>
            <span>
                Say hello! let's discuss your ideas and make it happen
            </span>
        </div>

        <div class="input-section" id="contact-section">

            <div class="input-field">
                <input type="text" id="name" #nameField name="name" required autocomplete="name">
                <label for="name"><span class="label-style">Your Name</span></label>
                <div class="icon-container">
                    <i [class.loader]="isActive"></i>
                </div>
            </div>

            <div class="input-field">
                <input type="email" id="email" required name="mail" #emailField autocomplete="email"/>
                <label for="email"><span class="label-style">Your email</span></label>
                <div class="icon-container">
                    <i [class.loader]="isActive" class="loader"></i>
                </div>
            </div>
        </div>

        <div class="textarea-field">
            <textarea id="message" name="message" #messageField cols="30" rows="10" required></textarea>
            <label for="message"><span class="label-style">Your Message</span></label>
            <div class="icon-container">
                <i [class.loader]="isActive" class="loader"></i>
            </div>
        </div>

        <div class="contact-btn">
            <button type="submit" #sendButton>Send message</button>
        </div>

        <div class="message-box" *ngIf="messageSent">
            <p>{{messageSent}}</p>
        </div>
    </form>
</div>
