.headline {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding: 32px 64px 0 64px;

  h2 {
    font-family: "Syne", sans-serif;
    font-size: 78px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: 0.01em;
    transition: all 225ms ease-in-out;

    &:hover {
      cursor: default;
      color: #00bc8f;
    }

    @media(max-width:1180px) {
      text-align: center;
    }

    @media(max-width:790px) {
      font-size:45px;
      line-height: 45px;
    }

    @media(max-width:520px) {
      display: flex;
      justify-content: center;
      font-size: 30px;
      line-height: 20px;
      padding: 20px;
    }
  }

  span {
    font-family: "Overpass", sans-serif;
    font-size: 23px;
    font-weight: 400;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
  }
}

.image-container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid transparent;
    transition: all 0.3s ease;
    z-index: -1;
  }

  .rotate-arrow {
    height: 70px;
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: rotate(0deg);
    transition: transform 0.3s ease, opacity 0.3s ease;

    @media(max-width: 1350px) {
      display: none !important;
    }
  }

  &.picture-left {
    .rotate-arrow {
      left: 360px;
    }

    &:hover {
      &::before {
        border-color: black;
        transform: translate(50px, 50px);
      }
      .rotate-arrow {
        opacity: 1;
        transform: rotate(360deg);
      }
    }
  }

  &.picture-right {
    .rotate-arrow {
      right: 360px;
      left: auto;
    }

    &:hover {
      &::before {
        border-color: black;
        transform: translate(-50px, 50px);
      }
      .rotate-arrow {
        opacity: 1;
        transform: rotate(-90deg);
      }
    }
  }
}

.projects {
  display: flex;
  margin-top: 100px;
  width: calc(100% - 128px);
  padding: 0 64px;
  filter: none;

  &:hover {
    filter: none;
  }

  @media (min-width: 1351px) {
    filter: grayscale(100%);

    &:hover {
        filter: none; /* Entfernt den Filtereffekt bei Hover */
    }
  }

  @media (max-width: 1180px) {
    display: flex;
    align-items: center;
    flex-direction: column !important;
  }

  img {
    width: 620px;
    height: 393px;

    @media (max-width: 1150px) {
      width: 480px;
      height: 280px;
    }
    
    @media(max-width:790px) {
      width: 100%;
    }
  }

  h2 {
    font-family: "Syne", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
  }

  h3 {
    font-family: "Syne", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    margin: 0;
  }
}

.flex-reverse {
  flex-direction: row-reverse !important;

  @media(max-width: 1350px) {
    justify-content: space-evenly;
  }

  @media (max-width: 1180px) {
    display: flex;
    align-items: center;
    flex-direction: column !important;
  }
}

.description-left {
  width: calc(50% - 64px);
  padding-right: 64px;
  text-align: left !important;
  padding-left: 150px !important;
  display: none;

  @media(max-width:1350px) {
    display: block;
    padding-left: 40px !important;
  }

  h3 {
    text-align: right;
    margin: 0;
  }

  p {
    font-family: "Overpass", sans-serif;
  }
}

.description-right {
  width: calc(50% - 64px);
  padding-right: 150px !important;
  display: none;

  @media(max-width:1350px) {
    display: block;
    padding-left: 40px !important;
  }

  p {
    font-family: "Overpass", sans-serif;
  }
}

.picture-left:hover + .description-left,
.description-left:hover {
  display: block;
  animation: fadeInLeft 0.3s ease-in-out;

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }

    to {
      opacity: 1;
    }
  }
}

.picture-right:hover + .description-right,
.description-right:hover {
  display: block;
  animation: fadeInRight 0.3s ease-in-out;

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
    }
  }
}

.technology-container {
  display: inline-flex;

  p {
    margin: 0 7px 0 0;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #00bc8f;
  }
}

.url-container {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 30px;
  //width: 375px;
  gap: 72px;

  @media(max-width:790px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.arrow-left {
  position: absolute;
  right: 64px;

  @media(max-width:1180px) {
    display: none;
  }
}

button {
  width: 200px;
  padding: 16px;
  font-size: 24px;
  border: 4px solid black;
  background-color: transparent;
  transition: all 225ms ease-in-out;
  font-family: sans-serif;
  font-weight: 400;
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
  }

  &:hover {
    width: 250px;
  }

  @media(max-width: 1350px) {
    width: 150px;

    &hover {
      width: 200px;
    }
  }
}

@media(max-width: 1350px) {
  .image-container.picture-left:hover::before,
  .image-container.picture-right:hover::before, 
  .picture-left:hover + .description-left,
  .description-left:hover,
  .picture-right:hover + .description-right,
  .description-right:hover {
      border-color: transparent;
      transform: none;
      animation: none;
  }

  .image-container.picture-left:hover .rotate-arrow,
  .image-container.picture-right:hover .rotate-arrow {
      opacity: 0;
      transform: rotate(0deg);
  }
}

@media(max-width: 790px) {
  h2 {
    white-space: nowrap;
    text-align: center;
  }

  h3 {
    display: none;
  }

  .description-left , .description-right {
    width: calc(100% - 64px);
    padding: 0 !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media(max-width: 550px) {
  h2 {
    white-space: normal;
  }
}