<app-navbar *ngIf="!isLegalNoticeOpen"></app-navbar>
<app-startscreen id="startscreenSection" *ngIf="!isMenuOpen && !isLegalNoticeOpen"></app-startscreen>
<app-about-me id="aboutMeSection" *ngIf="!isMenuOpen && !isLegalNoticeOpen"></app-about-me>
<app-skills id="mySkillsSection" *ngIf="!isMenuOpen && !isLegalNoticeOpen"></app-skills>
<app-portfolio id="portfolioSection" *ngIf="!isMenuOpen && !isLegalNoticeOpen"></app-portfolio>
<app-contact id="contactSection" *ngIf="!isMenuOpen && !isLegalNoticeOpen"></app-contact>
<app-footer id="footerSection" *ngIf="!isMenuOpen && !isLegalNoticeOpen"></app-footer>
<app-legal-notice id="legalNoticeSection" *ngIf="isLegalNoticeOpen"></app-legal-notice>