<div class="header content-container full-height-section">
    <div class="header-top content-container">
        <h1>Frontend<br> Developer</h1>
    </div>

    <div class="header-bottom">
        <hr> <h2>Stefan Roth</h2>
    </div>

    <div class="btn-container">
        <button (click)="scrollTo('contactSection')">Send a message</button>
    </div>

    <div class="main-bottom content-container">
        <p class="main-contact">kontakt@stefanroth.dev</p>

        <div (click)="scrollTo('aboutMeSection')" class="scroll-down">
            <img src="assets/img/arrow-down.png">
            <p>Scroll <br> Down</p>
        </div>
    </div>
</div>
