body {
    font-family: 'Syne', sans-serif;
    margin: 0;
    background-color: #FFFCF3;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    z-index: 1;
 }

html{
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Syne', sans-serif;
}

.content-container {
    max-width: 1920px;
    //width: 100%;
  }

  
  .full-height-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

@media(max-width:1180px) {
    ::-webkit-scrollbar-thumb {
      background: #00BC8F;
      border-radius: 50px ;
      z-index: 1;
    }
 }
  

/*
font-family: 'Overpass', sans-serif;
font-family: 'Syne', sans-serif;
*/